


.texto2{
    padding-top: 30px;
    padding-right: 100px;
}

.cont1{
    padding-top: 10px;
}

.subtitulo{
    text-align: left;
    padding-left: 150px;
}

.img2{
    text-align: center;
    max-height: 500px;
    padding-right: 200px;

}

p{
    text-align: justify;
}